<p-menubar [model]="items" #headerBar>
    <ng-template pTemplate="end">
        <img src="assets/logo-temp.png" height="40" class="p-mr-2">
    </ng-template>
</p-menubar>
<div class="container">
    <div class="row d-flex" style="justify-content: space-between;">
        <input type="search" pInputText placeholder="Search by Skills, Title"
            (input)="dv.filter($event.target.value)" class="col-md-3">
            <ng-template #advanceFiltersContainer class="col-md-6">

            </ng-template>
        <p-button [label]="isAdvanceFilterMode ? 'Close Filters' : 'Advanced Search' " (click)="isAdvanceFilterMode = !isAdvanceFilterMode; loadFiltersComponent()" class="col-md-3" iconPos="right" [icon]="isAdvanceFilterMode ? 'pi pi-times' : 'pi pi-filter'"></p-button>
    </div>
</div>
<div class="table-wrapper">
    
    <p-dataView #dv [value]="jobs" [paginator]="true" [rows]="10"
        [sortField]="sortField" [sortOrder]="1" layout="list" (onPage)="scrollToTop()">
        <ng-template pTemplate="header">
            <div class="container">
                <div class="row">List of Jobs</div>
            </div>
        </ng-template>
        <ng-template let-job pTemplate="listItem">
            <div class="job-list container">
                <div class="row">
                <div class="col-md-9">
                    <div class="job-title row"><i class="pi pi-star"></i><span>{{job.title}}</span></div>
                    <div class="job-description row">
                        <p-inplace [closable]="true">
                            <ng-template pTemplate="display">
                                <div [innerHtml]="getShortContent(job.jobDescription)" style="max-height: 25vh;"></div>
                                <a (click)="activatedFullContent(job.jobId, $event)" style="color: lightblue;">Read More</a>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <div class="col-md-12" [innerHTML]="job.jobDescription"></div>
                            </ng-template>
                        </p-inplace>
                    </div>
                    <div class="job-location row"><div class="col-md-12"><i class="pi pi-map-marker"></i>{{job.placeholders[2].label}}</div></div>
                    <div class="work-exp-and-skills row">
                        <div class="job-skills col-md-6 d-flex">
                        <div [innerHTML]="getProcessedString(job.tagsAndSkills)"></div>
                        </div>
                        <div class="job-work-experience col-md-2 d-flex">
                            <p-knob [ngModel]="getKnobValue(job.placeholders[0].label)" [readonly]="true" [showValue]="false" [min]="10" [max]="100" [size]="50"></p-knob>
                            {{job.placeholders[0].label}}
                        </div>
                        <div class="job-posted-time-update col-md-3 d-flex" [ngStyle]="getStyleObject(job.footerPlaceholderColor)">
                            <i class="pi pi-clock"></i>{{job.footerPlaceholderLabel}}
                        </div>
                    </div>
                </div>
                <div class="job-list-right-section col-md-3 d-flex">
                    <div class="company-logo" style="height: 100px;">
                        <img [src]="job.logoPath!=undefined ? job.logoPath : 'assets/logo-temp.png'" [alt]="job.companyName" />
                    </div>
                    <span>{{job.companyName}}</span>
                    <div class="row">
                    <p-button icon="pi pi-chevron-right" label="Apply" iconPos="right" class="row"></p-button>
                    </div>
                </div>
            </div>
            </div>
        </ng-template>
    </p-dataView>
</div>